@font-face {
    font-family: 'Karla';
    src: url('./../fonts/Karla-Regular.woff2') format('woff2'), url('./../fonts/Karla-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./../fonts/Karla-Bold.woff2') format('woff2'), url('./../fonts/Karla-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kenyan Coffee Rg';
    src: url('./../fonts/KenyanCoffeeRg-Regular.woff2') format('woff2'), url('./../fonts/KenyanCoffeeRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Rust Sans';
    src: url('./../fonts/NexaRustSans-Black.woff2') format('woff2'), url('./../fonts/NexaRustSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}